<appSettings>

    <!-- 
    Configuracoes do Banco de Dados
    
    Provider 	| ConnectionString
    ==============================
    Postgre 	| Server=nome_ou_ip_servidor;Port=5432;Database=database;User Id=usuario;Password=senha
    SqlServer	| Data Source=nome_ou_ip_servidor;Database=ecm;User Id=ecm;Password=ecm
    Oracle		| Data Source=nome_ou_ip_servidor/orcl;User Id=ecm;Password=ecm; 
	  OracleGuest | Data Source=nome_ou_ip_servidor/orcl;User Id=veros_guest;Password=veros_guest; 
		Deve adicioanr uma chave Database.Owner. Exemplo:
		<add key="Database.Owner" value="MDI_PAPERLESS" />
        MDI_approval_numerocerto
    -->
    
    <add key="Database.Provider" value="Oracle" />
    <add key="Database.ConnectionString" value="Data Source=192.168.10.104/orcl;User Id=mdi_approval_gedcef;Password=verosmdi;" />
    
    <add key="Log.Level" value="Debug"/>
    <add key="Log.File" value="true"/>
    <add key="Log.Sql" value="true"/>
    <add key="Log.Console" value="true"/>
    
    <add key="Exportacao.Diretorio" value="C:\Export" />
    <add key="Recepcao.Diretorio.Pacotes" value="C:\packs" />
    <add key="Database.Cache" value="true" />
    <add key="Recognize.Licenca.Abbyy" value="SWTD-1010-0002-9643-5797-2174"/>

    <add key="Fila.Debug" value="true"/>
    
</appSettings>